:root {
  /* --highlight-color: #d7d7d7; */
  --highlight-color: black;
  --animation-timer: 500ms;
}

body {
  /* background: url('../assets/background.svg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: inherit;
  color: var(--highlight-color);
}

#content {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 1rem;
}

#query {
  display: flex;
}

input {
  background: none;
  font-size: 2rem;
  color: var(--highlight-color);
  text-align: left;
}

input[type=text] {
  width: 300px;
  border-bottom: 2px solid var(--highlight-color);
}

h1 {
  font-size: 4rem;
}

/* Transitions */

.transition {
  transition: all var(--animation-timer) ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-30px);
}