@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --main-font-stack: 'Raleway', serif;
  --highlight-color: white;
  --lowlight-color: #36a989;
  --animation-timer: 500ms;
  font-size: 32px;
}

body {
  background: url('../assets/background.svg') no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--highlight-color);
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  font-family: var(--main-font-stack);
}

/* Fit viewport */

#content {
  padding: 1rem;
}

/* Classes */

.underlined {
  border-bottom: 2px solid var(--highlight-color);
}

/* Search bar */

#query {
  display: flex;
}

input {
  background: none;
  font-size: 1rem;
  color: var(--highlight-color);
  text-align: left;
}

input[type=text] {
  width: min(300px, 90%);
}

input[type=submit] {
  margin: -30px;
  cursor: pointer;
  width: 30px;
  background: url('../assets/search.svg') no-repeat center;
  background-size: contain;
}

/* Unit selector */

#temp-unit {
  display: flex;
  gap: 0.4rem;
  margin: 0.2rem 0;
}

input[type=radio]:checked {
  border: 2px solid var(--lowlight-color);
}

label {
  font-size: 0.6rem;
  position: relative;
}

input[type=radio] {
  position: absolute;
  border-radius: 10px;
  top: -0.25rem;
  left: -0.25rem;
  width: 1rem;
  height: 1rem;
}

/* Weather Info */

#weather-info {
  display: grid;
  gap: 0.5rem;
}

h1 {
  font-size: 2rem;
}

.title {
  font-size: 0.5rem;
}

.value {
  font-size: 1.4rem;
}

.sub {
  display: flex;
  gap: 0.5rem;
  font-size: 0.6rem;
}

#temp-current .value {
  font-size: 4rem;
  margin: -1rem 0 0.5rem 0;
}

/* Footer */

footer {
  font-size: 0.5rem;
  position: fixed;
  bottom: 6px;
  text-align: center;
  width: 100%;
}

a {
  color: inherit;
}

/* Transitions */

.transition {
  transition: all var(--animation-timer) ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-30px);
}