:root {
  --highlight-color: #d7d7d7;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  background: url('../assets/background-dark.svg') no-repeat center center fixed;
  -webkit-background-siz: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: inherit;
  color: var(--highlight-color);
}

#content {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#query {
  display: flex;
  margin: 0 20px;
  height: 4rem;
}

input {
  background: none;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--highlight-color);
}

input[type=text] {
  border-bottom: 2px solid var(--highlight-color);
  width: 90%;
}

/* Classes */

.hidden {
  display: none !important;
}

/* Transitions */

.transition {
  transition: all 750ms ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-100px);
}

/* Weather */

#weather-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-info {
  width: 60%;
  display: grid;
  gap: 1rem;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

#weather-info > li {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

#temp {
  grid-area: 1 / span 2;
}

.value {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  margin-bottom: auto;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
}