.value::after {
  font-size: .5rem;
  vertical-align: middle;
}

.farenheit .value::after {
  content: '°F';
}

.celcius .value::after {
  content: '°C';
}

#humidity .value::after {
  content: '%';
}

#wind-speed .value::after {
  content: 'mph';
}

#pressure .value::after {
  content: 'hPa';
}